body {
    font-family: 'Hind', sans-serif;
}

a,
.page-link,
.crikey,
.nav-link {
    color: #FA0C58;
}

a:hover,
.page-link:hover,
.crikey:hover,
.nav-link:hover {
    color: #7A062B;
}

.nav-link {
    padding: .5rem .75rem;
}

.custom-fullscreen-modal .modal-dialog {
    height: calc(100% - 5rem);
}

.card-popup {
    cursor: pointer;
}

.bg-primary {
    background-color: #FA4468 !important;
}

.page-item.disabled .page-link {
    color: #ccc;
}

.page-item.disabled .page-link.const {
    color: #000;
}

.image-modal-body,
.card-img-top {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

@media (max-width: 1200px) {
    .image-modal-body {
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-bottom: 0 !important;
    }
}

.card-img-top {
    width: 100%;
    padding-top: 100%;
}

.card-img-top.portrait {
    padding-top: 150%;
}

.card-img-top.landscape {
    padding-top: 66.666666666666%;
}

.carousel {
    height: 100%;
}

.carousel.portrait {
    height: 150%;
}

.carousel.landscape {
    height: 66.666666666666%;
}

.carousel.modal-body {
    padding: 0;
}

.image-modal-body {
    padding-top: calc(min(100%, 85vh));
}

.image-modal-body.portrait {
    padding-top: calc(min(150%, 85vh));
}

.image-modal-body.landscape {
    padding-top: calc(min(66.666666666666%, 85vh));
}

.footer {
    text-align: center;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.modal-footer {
    justify-content: space-between;
    padding: .25rem .5rem;
}

.bgloadfade.loading,
.bgmodalfadetgt.loading {
    background-image: url('/spin.svg') !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
}

@media (prefers-color-scheme: dark) {
    body,
    .card,
    .modal-content {
        background-color: #1A1804;
        color: #E6F9FF;
    }

    .text-dark,
    .btn-close {
        color: #E6F9FF !important;
    }

    .border-bottom {
        border-bottom-color: #E6F9FF;
    }

    .card {
        border-color: #E6F9FF;
    }
}