<div class="col-sm-6 col-lg-4 mb-4">
    <div class="card{% if page.align == "right" %} text-end{% endif %}{% if page.align == "center" %} text-center{% endif %}">
        <div class="card-body">
            <h5 class="card-title">{{ page.title }}</h5>
            {% if page.subtitle %}<p class="card-text">{{ page.subtitle }}</p>{% endif %}
            {% if page.byline %}<p class="card-text"><small class="text-muted">{{ page.byline }}</small></p>{% endif %}
            {{ page.content }}
        </div>
    </div>
</div>