<meta name="description" content="{% if page.title %}{{ page.title }} - {% if page.subtitle %}{{ page.subtitle }} - {% endif %}{% endif %}Photos by Chris Alexander">
<meta name="image" content="{% if page.thumb %}{{ page.thumb }}{% else %}https://csnapmediahost.github.io/assets1/Logo/logo-text.png{% endif %}">

<meta itemprop="name" content="csnap.uk{% if page.title %} - {{ page.title }}{% endif %}">
<meta itemprop="description" content="{% if page.title %}{{ page.title }} - {% endif %}Photos by Chris Alexander">
<meta itemprop="image" content="{% if page.thumb %}{{ page.thumb }}{% else %}https://csnapmediahost.github.io/assets1/Logo/logo-text.png{% endif %}">

<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="csnap.uk{% if page.title %} - {{ page.title }}{% endif %}">
<meta name="twitter:description" content="{% if page.title %}{{ page.title }} - {% endif %}Photos by Chris Alexander">
<meta name="twitter:image:src" content="{% if page.thumb %}{{ page.thumb }}{% else %}https://csnapmediahost.github.io/assets1/Logo/logo-text.png{% endif %}">

<meta name="og:title" content="csnap.uk{% if page.title %} - {{ page.title }}{% endif %}">
<meta name="og:description" content="{% if page.title %}{{ page.title }} - {% endif %}Photos by Chris Alexander">
<meta name="og:image" content="{% if page.thumb %}{{ page.thumb }}{% else %}https://csnapmediahost.github.io/assets1/Logo/logo-text.png{% endif %}">
<meta name="og:url" content="https://csnap.uk">
<meta name="og:site_name" content="csnap.uk{% if page.title %} - {{ page.title }}{% endif %}">
<meta name="og:locale" content="en_GB">
<meta name="og:type" content="website">