{% if include.full %}
    <div class="row">
    {% if page.ar == "portrait" %}
        <div class="col-lg-1 col-xl-2 col-xxl-3"></div>
    {% endif %}
    {% if page.ar == "square" %}
        <div class="col-xl-1 col-xxl-2"></div>
    {% endif %}
{% endif %}

<div class="pb-3 col-12{% if include.full %}{% if page.ar == "portrait" %} col-lg-10 col-xl-8 col-xxl-6{% endif %}{% if page.ar == "square" %} col-xl-10 col-xxl-8{% endif%}{% else %}{% if page.size == "small" or include.size == "small" %} col-sm-4{% else %}{% if page.size == "large" %} col-sm-8{% endif %}{% endif %}{% endif %}" data-bs-toggle="modal" data-bs-target="#photoModal{{ page.slug }}">
    <div class="card{% unless include.full %}{% if page.modal %} card-popup{% endif %}{% endunless %}">
        {% if include.full %}
        <div class="card-body">
            <h5 class="card-title">{{ page.title }}</h5>
        </div>
        {% endif %}

        {% if page.thumb.first %}
        {% assign initialTime = 4000 %}
        <div id="carouselMain{{ page.slug }}" class="carousel slide" data-bs-ride="carousel"{% if include.full %} data-bs-interval="false"{% else %} data-bs-interval="{{ initialTime }}"{% endif %}>
            <div class="carousel-indicators">
                {% assign first = true %}
                {% for img in page.thumb %}
                    <button type="button" data-bs-target="#carouselMain{{ page.slug }}" data-bs-slide-to="{{ forloop.index | minus: 1 }}"{% if first %} class="active"{% assign first = false %}{% endif %}></button>
                {% endfor %}
            </div>
            <div class="carousel-inner">
                {% assign first = true %}
                {% if include.full or page.size == "full" %}
                    {% unless include.size == "small" %}
                        {% assign imglist = page.full %}
                    {% else %}
                        {% assign imglist = page.thumb %}
                    {% endunless %}
                {% else %}
                    {% assign imglist = page.thumb %}
                {% endif %}
                {% for img in imglist %}
                    {% assign idx = forloop.index | minus: 1 %}
                    {% assign mod2 = idx | modulo: 2 | minus: 0.5 %}
                    {% assign mod4 = idx | modulo: 4 %}
                    {% assign offset = mod2 | times: mod4 | times: 1000 %}
                    <div class="carousel-item{% if first %} active{% assign first = false %}{% endif %}" data-bs-interval="{{ initialTime | plus: offset | round }}">
                        <div class="card-img-top{% if page.ar == "portrait" %} portrait{% endif %}{% if page.ar == "landscape" %} landscape{% endif %}" style="background-image: url('{{ img }}');{% if page.ar == "custom" %}padding-top: {{ page.ar-custom }}%;{% endif %}"></div>
                    </div>
                {% endfor %}
            </div>
            {% if include.full %}
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselMain{{ page.slug }}" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselMain{{ page.slug }}" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            {% endif %}
        </div>
        {% else %}
        <div class="card-img-top{% if page.ar == "portrait" %} portrait{% endif %}{% if page.ar == "landscape" %} landscape{% endif %}" style="background-image: url('{% if include.full or page.size == "full" %}{% unless include.size == "small" %}{{ page.full }}{% else %}{{ page.thumb }}{% endunless %}{% else %}{{ page.thumb }}{% endif %}');{% if page.ar == "custom" %}padding-top: {{ page.ar-custom }}%;{% endif %}"></div>
        {% endif %}

        {% if page.body or include.full %}
        <div class="card-body">
            {% unless include.full %}<h5 class="card-title">{{ page.title }}</h5>{% endunless %}
            {% if page.subtitle %}<p class="card-text">{{ page.subtitle }}</p>{% endif %}
            {% if page.byline %}<p class="card-text"><small class="text-muted">{{ page.byline }}</small></p>{% endif %}
        </div>
        {% endif %}
    </div>
</div>

{% if include.full %}
    {% if page.ar == "portrait" %}
        <div class="col-lg-1 col-xl-2 col-xxl-3"></div>
    {% endif %}
    {% if page.ar == "square" %}
        <div class="col-xl-1 col-xxl-2"></div>
    {% endif %}
    </div>
{% endif %}