<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link href="/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <title>csnap.uk - {% if page.title %}{{ page.title }}{% else %}Photos by Chris Alexander{% endif %}</title>

    {% include meta.html %}
    
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZJTVL6H3WP"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-ZJTVL6H3WP');
    </script>
</head>

<body>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center mb-4 me-5 me-sm-auto border-bottom">
            <a href="/" class="d-flex align-items-center me-auto text-dark text-decoration-none">
                <i class="bi-camera-fill me-2 mt-1"></i>
                <span class="fs-1 crikey">csnap.uk</span>
                <span class="fs-6 ms-2 mt-1"><em>Photos by Chris Alexander</em></span>
            </a>

            <ul class="nav nav-pills mt-sm-2">
                <li class="nav-item"><a href="/" class="nav-link">Photos</a></li>
                <li class="nav-item"><a href="/camera-kit" class="nav-link">Kit</a></li>
                <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
            </ul>
        </header>
    </div>

    <div class="container">
        {{ content }}
    </div>

    <div class="container">
        <p class="footer small">
            All content and photos &copy; {{ site.time | date: "%Y" }} Chris Alexander / <a href="/" class="text-decoration-none">csnap.uk</a>
        </p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
        integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"
        async></script>
</body>

</html>
